/* 
    Document   : app.css
    Created on : Jun 29, 2012, 1:40:58 PM
    Author     : Eristoddle
    Description:
        Purpose of the stylesheet follows.
*/

/* Forms */

textarea {
    width:97%;
    padding:0 10px 10px 0;
}

/* Tags */
span.label.label-info a{
    text-decoration: none;
    color: whitesmoke;
}

div#ribbon{
	padding-left: 15px;
	height: 43px;
	line-height: 43px;
	color: #ffffff;
	font-size: 24px;
	font-weight: bold;
	background: url(/aadw-qa/webroot/img/top-ribbon.png) no-repeat;
}

ul#panel{
	padding-top: 30px;
	float: left;
	width: 100px;
	background-color: #fafafa; 
	padding-left: 20px;
	padding-bottom: 30px;
	list-style: none;
}
ul#panel li{
	margin: 10px;
	margin-left: 0;
}
ul#panel li a{
	font-weight: bold;
	color: #3399ff;
}
ul#panel li a:hover{
	color: #000000;
}