/*-------------------------------------------------------------------------------------------------
   Lithium: the most rad php framework

   @copyright     Copyright 2011, Union of RAD (http://union-of-rad.org)
   @license       http://opensource.org/licenses/bsd-license.php The BSD License
-------------------------------------------------------------------------------------------------*/

/*--- Reset ---*/
* { margin: 0; padding: 0; }
html, body { height: 100%; min-height: 100%; }

/*--- Layout ---*/
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	color: #0d0d0d;
	background-color: #fff;
}
#container {
	position: relative;
	padding: 60px 10%;
}

/*--- Basics ---*/
h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
	color:#111;
	line-height: 1;
	margin: 1.5em 0 0.5em 0;
}
h1 { font-size: 2.6em; }
h2, h5 { font-size: 2em; color: #666; }
h3, h6 { font-size: 1.7em; color: #00a8e6; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }
p { margin-bottom: 1em; }
strong { font-weight: bold; }
em { font-style: italic; }
a { text-decoration: none; color: #666; }
a, h1 a, h2 a { text-decoration: none; }
a:hover { color: #00bbff; }
a:visited:hover { color: #ff59ff; }
a img { border: none; }

/*--- Code ---*/
pre > code {
	display: block;
	color: white;
	background: #141414;
	border: 1px solid white;
	padding: 1em !important; /* remove if base important is removed, too */
	overflow: auto;
	font-size: .9em;
}
a code {
	background: transparent;
	border: 0;
}
a:hover code {
	color: inherit;
}
code, pre, .fixed {
	font-family: Monaco, Courier, monospace !important;
	font-weight: normal;
	font-size: 0.85em;
	white-space: pre;
}
code {
	padding: .2em .25em !important;
	border: 1px solid #F0F0F0;
	background: #FAFAFA;
}
pre {
	background: none;
	padding: 0 0 .5em 0 !important;
}

/*--- Lists ---*/
li ul, li ol { margin: 0; }
ul, ol { margin: 0 0 1em 2.75em; }
dt, dd {
	font-style: italic;
	margin: .5em 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-left: 1em;
}
/*--- Header ---*/
#header h1 {
	margin: .1em 0;
	font-size: 35px;
}
#header h2 {
	width: 70%;
	margin: .5em .5em 2em 0;
	color: #666;
	font-size: 22px;
	line-height: 28px;
}

/*--- Tables ---*/
table {
	clear: both;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #e6e6e6;
	background: #fafafa;
	margin: 12px 0;
}
td, th {
	padding: .25em 1em;
	border: 1px solid #e6e6e6;
	vertical-align: middle;
	text-align: left;
	font-weight: normal;
	color: #666;
	font-size: 0.85em;
}
tr:nth-child(even) {
	background: #fff;
}
thead th, tfoot td {
	background: #f3f3f3;
	color: #333;
	text-align: left;
	font-size: 1em;
	font-weight: bold;
	padding: .5em .75em;
}
/*--- Forms ---*/
form {
	display: block;
	clear: both;
	background: #fafafa;
	padding: 1em 2em 2em 2em;
	border: 1px solid #e6e6e6;
}
fieldset {
	padding: 2em;
	margin: 0 0 1em 0;
	border: 1px solid #e6e6e6;
	background: #f3f3f3;
}
legend {
	padding: .5em 1em;
	border: 1px solid #e6e6e6;
	background: #fff;
	font-size: 22px;
}
label {
	padding: 0 1em 0 0;
	color: #454545;
	font-weight: normal;
}
input, textarea, button {
	font-family: Helvetica, Arial, sans-serif;
	padding: 2px 4px;
	border: 1px solid #e5e5e5;
	color: #454545;
	font-size: 1em;
	line-height: 1.25em;
}
/*input[type=text], input[type=password], input[type=submit], textarea {
	clear: both;
	display: block;
	padding: .25em .5em;
}*/
input[type=text], input[type=password], textarea {
	width: 97%;
	max-width: 950px;
	margin: .5em 0 1em 0;
	padding:.5em;
}
/*input[type=submit], input[type=button], input[type=reset], input[type=file], button {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: .5em 1em;
	margin: 0 .75em 0 0;
	background-color: white;
	color: black !important;
	border: 1px solid #e5e5e5 !important;
	cursor: pointer;
}*/
select {
	clear: both;
	display: block;
	margin: .5em 0 1em 0;
}
div.checkbox {
	clear: both;
	padding: 1em 0;
}
.checkbox label {
	display: inline;
}
/*input[type=submit] {
	margin: 1em inherit;
	border: none;
	color: #000;
	font-size: 16px;
	font-weight: bold;
}*/
input[type=text]:focus, input[type=password]:focus, textarea:focus, select:focus {
	border-color: #00a8e6;
	outline: none;
}

/*--- Misc ---*/
hr {
	border: none;
	height: 0;
	border-bottom: 1px solid #e6e6e6;
	margin:1em 0;
}
sup, sub {
	color: #666;
	font-size: .65em;
}
acronym {
	font-weight: bold;
	font-style: italic;
	color: #333;
}
abbr {
	color: #333;
}

blockquote {
	padding: 0.15em .5em;
	margin: 0.5em 0;
	font-size: 2em;
	color: #666;
	display: block;
	font-style: italic;
}

blockquote:before, blockquote:after {
	display: inline;
	color: #e5e5e5;
	font-size: 3em;
	position: relative;
	top: 0.25em;
	left: -0.1em;
}

blockquote:before {
	content: '\D \201C';
}

blockquote:after {
	content: '\201D';
}

/*--- Shadows ---*/
code {
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.1);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.1);
	box-shadow: 0 0 3px rgba(0,0,0,.1);
	color: #666;
}
table, form, pre > code {
	margin-top: 0px;
	margin-bottom: 12px;
}
table, form, pre > code, .shadow {
	-moz-box-shadow: 2px 2px 12px rgba(0,0,0,.15);
	-webkit-box-shadow: 2px 2px 12px rgba(0,0,0,0.15);
	box-shadow: 2px 2px 12px rgba(0,0,0,.15);
}
img.shadow {
	border: 1px solid rgba(255,255,255,.15);
}
/*input[type=submit], input[type=button], input[type=reset], input[type=file], button {
	-moz-box-shadow: 0 0 6px rgba(0,0,0,.1);
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,.1);
	box-shadow: 0 0 6px rgba(0,0,0,.1);
}
input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover, button:hover {
	-moz-box-shadow: inset 0 0 6px rgba(0,0,0,.15);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.15);
	box-shadow: inset 0 0 6px rgba(0,0,0,.15);
}*/
input, textarea {
	-moz-box-shadow: inset 0 0 3px rgba(0,0,0,.1);
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.1);
	box-shadow: inset 0 0 3px rgba(0,0,0,.1);
}